docs/
storage/
venv/
my-venv/
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
.env
storage/
.vscode/
.idea/
__pycache__/
.env
.gitignore
.python-version
app.py
debug_env.py
htmlTemplates.py
installed_packages.txt
Main_code.py
Readme.md
requirements.txt
web.py